.resume-ul{
   margin: 34% auto;
    text-align: center;
}
.resume-div{
    margin: 70px 0;
    
 
}
.github-button{
    color:black
}

.github-button :hover{
    color: rgb(204, 204, 83);
    text-decoration: none;
}
.resume-div :hover{
    color: rgb(204, 204, 83);
    cursor: pointer;
}
.copy-clip{
    color: grey;
    font-size: 14px;
    max-width: 150px;
    margin: auto;
    
}
.copy-email{
    font-weight: bold;
    
    font-size: 10px;
    max-width: 150px;
    margin: auto;
    word-break: break-all;
}
@media only screen and (max-width: 600px){
    
    /* .resume-div{
        margin-right: 200px;
    } */
}