.resume-ul{
   margin: 34% auto;
    text-align: center;
}
.resume-div{
    margin: 70px 0;
    
}
.resume-div :hover{
    color: rgb(204, 179, 179);
    cursor: pointer;
    
    
}
.github-button{
    color:white;
}

.resume-div{
    color: white;
}


.copy-clip{
    color: rgb(214, 214, 214);
    font-size: 14px;
    max-width: 150px;
    margin: auto;
    
}
.copy-email{
    
    
    font-size: 16px;
    max-width: 90%;
    margin: auto;
    word-break: break-all;
}
@media only screen and (max-width: 600px){
    
    /* .resume-div{
        margin-right: 200px;
    } */
}