.logos-ul{
    list-style: none;
    font-size: 35px;
    margin: 20px auto 0;
    padding-inline-start: 15px;
    min-width: 300px;
    
}
.logos-li{
    margin: 20px;
    display: inline-flexbox;
}
.logos-image{
    
    width: 70px;
    height:auto;
}
.python{
    color: rgb(255, 232, 115);
}
.javascript{
    color: rgb(50, 51, 48);
}
.react{
    color: rgb(87, 200, 228)
}