.logos-ul{
    list-style: none;
    font-size: 35px;
    margin: 20px auto 0;
    width: 80%;
    padding-inline-start: 15px;
    
}
.logos-li{
    text-align: start;
    
}
.logos-image{
    float: left;
    width: 11%;
    height:auto;
}
.python{
    color: rgb(255, 232, 115);
}
.javascript{
    color: rgb(50, 51, 48);
}
.react{
    color: rgb(97, 219, 251)
}