.tag{
    margin: 4px;
}
.tags-button{
    font: bold 14px/1 sans-serif;
  color: white;
  
  padding: 5px;
  background-color: rgba(26, 91, 230, 0.8);
  cursor: pointer;
}
.tag :hover{
  background-color: rgba(12, 28, 61, 0.8);
}
.tags-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 85%;
}
.tag-title{
    text-align: center;
    margin-top: 43px;
}