
* {
	box-sizing: border-box;
	line-height: 1;
}

*::before, *::after { box-sizing: border-box; }

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto;
    justify-content: center;
    
}
.card-container {
    width: 220px;
    height: 330px;
    -webkit-perspective: 800px; /* ? */
    perspective: 800px;
    margin: 10px;
  }
  .card-title{
    text-align: center;
    margin-top: 10px;
    width: 90%;
}
.card-text{
  font-size: medium;
}
.card-image{
  border: 2px solid grey;
}

  label.card {
    display: block;
    position: relative; /* #card figure is set to position: absolute. DC*/
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style:         preserve-3d;
    -webkit-transition: -webkit-transform 1s; /* Not sure if this is the correct syntax. DC */
    transition: transform 1s;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 5px;
  }
  
  label.card div {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  
  .front {
    background: #ffffff;
  }

.front-overlay {
 height: 200px; width: 200px;
 transition: all .1s ease;
 
}
 
.front-overlay:hover {
 background: gray;
 border-radius: 10px;
}
  .back {
    background: rgb(255, 255, 255);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
 input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  input[type=checkbox]:checked ~ label.card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.project-tag{
  font: bold 14px/1 sans-serif;
  color: white;
  margin: 2px;
  padding: 5px;
  background-color: rgb(68, 48, 248);
  cursor: pointer;
}
.projects-tags-button{
  font: bold 14px/1 sans-serif;
  color: white;
  padding: 5px;
  background-color: rgb(68, 48, 248);
  cursor: pointer;
}
.load-button{
    font: bold 22px/1 sans-serif;
    position: absolute;
    left: 8px;
    bottom: 6px;
    color: white;
    padding: 5px;
    background-color: rgb(44, 90, 0);
    cursor: pointer;  
}
a:hover{
  font: bold 22px/1 sans-serif;
  position: absolute;
  left: 8px;
  bottom: 6px;
  color: white;
  padding: 5px;
  background-color: rgb(44, 90, 0);
  cursor: pointer;  
}
.projects-tags-ul{
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 0px;
}

